/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* font-family: 'Poppins', sans-serif; */
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* background-image: linear-gradient(#8bb9d230 0.5px, transparent 0.5px), linear-gradient(to right, #8bb9d230 0.5px, transparent 0.5px);
  background-size: 100px 100px; */
}

body::-webkit-scrollbar {
  display: none;
}

.heightWithOutNav {
  height: calc(100vh - 65px);
}

.sidebar,
.layout {
  height: calc(100vh - 73px);
}


.layout::-webkit-scrollbar {
  width: 10px;
}

.layout::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background: #646c72;
  border-radius: 100px;
}

.layout::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  background: #6a788451;
  border-radius: 100px;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.sidebar::-webkit-scrollbar {
  width: 7px;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}


.sidebar::-webkit-scrollbar-thumb,
:not(*) {
  opacity: 0 !important;
  /* visibility: hidden; */
  border-radius: 100px;
  transition: opacity 3s ease;
  transition-delay: 1s;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  /* visibility: visible; */
  background: #4c51556e;
  border-radius: 100px;
  opacity: 1;
}


.card {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}


.giveLineHeight {
  line-height: 80px;
}

@media screen and (min-width: 992px) {
  .giveLineHeight {
    line-height: 80px;
  }
}

/* For medium screens */
@media screen and (max-width: 991px) and (min-width: 768px) {
  .giveLineHeight {
    line-height: 60px;
  }
}

/* For small screens */
@media screen and (max-width: 767px) and (min-width: 400px) {
  .giveLineHeight {
    line-height: 40px;
  }
}

@media screen and (max-width: 399px) {
  .giveLineHeight {
    line-height: 30px;
  }
}