@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
  scroll-margin: 60px 0px 0px 0px;
}
.ser::-webkit-scrollbar{
width: 0px;
height: 0px;
}
body {
  /* font-family: 'Poppins', sans-serif; */
  scroll-behavior: smooth;
  
  background-image: linear-gradient(#484b4b06 1px, transparent 1px), linear-gradient(to right, #484b4b06 1px, transparent 1px);
    background-size: 302px 302px;
    background-color: #5c5c5c;
    background-attachment: fixed;
}


::-webkit-scrollbar-thumb {
  background: #646c727e;
}

::-webkit-scrollbar-thumb:hover {
  background: #646c72eb;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}


.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}


.sidebar::-webkit-scrollbar-thumb {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  visibility: visible;
  background: #4c51556e;
  border-radius: 100px;
  opacity: 1;
}

.codebox::-webkit-scrollbar-thumb {
  background: #b3b3b36e;
  border-radius: 100px;
  opacity: 1;
}

.codebox::-webkit-scrollbar-track {
  background: transparent;
}
.codebox::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.prose h1 {
  @apply dark:text-white;
}



