@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  scrollbar-width: 15px;
}

::-webkit-scrollbar {
  background: #b0e0ff;
}

::-webkit-scrollbar-track {
  background: #cdebff;
}

::-webkit-scrollbar-thumb {
  background: #36a9fc;
  border: 4px solid #b0e0ff;
  border-radius: 100px;
} */

body {
  font-family: 'Poppins', sans-serif;
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* input[id="s"]:checked ~ span {
  transform: translateY(0);
  color: red;
}
input[id="ss"]:checked ~ span {
  transform: translateY(100%);
}
input[id="sss"]:checked ~ span {
  transform: translateY(200%);
} */

/* .con {
  container: button/inline-size;
  border-bottom: 1px solid #ccc;
}
.button {
  display: inline-flex;
  column-gap: 0.025rem;
  align-items: center;
}

.button-text {
  display: none;
}
@container button (width > 110px) {
  .button-text {
    display: inline;
  }
  .button-icon {
    display: none;
  }
}
@container button (width > 160px) {
  .button-text {
    display: inline;
  }
} */