@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: 15px;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  background: #b0e0ff;
}

::-webkit-scrollbar-track {
  background: #b0e0ff;
}

::-webkit-scrollbar-thumb {
  background: #005a9a;
  border: 4px solid #b0e0ff;
}

body {
  font-family: "Roboto Slab", serif;
}

/* input[id="s"]:checked ~ span {
  transform: translateY(0);
  color: red;
}
input[id="ss"]:checked ~ span {
  transform: translateY(100%);
}
input[id="sss"]:checked ~ span {
  transform: translateY(200%);
} */

/* .con {
  container: button/inline-size;
  border-bottom: 1px solid #ccc;
}
.button {
  display: inline-flex;
  column-gap: 0.025rem;
  align-items: center;
}

.button-text {
  display: none;
}
@container button (width > 110px) {
  .button-text {
    display: inline;
  }
  .button-icon {
    display: none;
  }
}
@container button (width > 160px) {
  .button-text {
    display: inline;
  }
} */
